<p id="notice"><%= notice %></p>

<p>Name: <%= @user.name %></p>
<p>Region: <%= @user.region %></p>
<p>Email: <%= @user.email %></p>

<form id="user-search" action="/user_choice" method="POST">
	<label>Enter Your Own Topic to Search For</label>
	<br>
	<input type="text" name="topic" placeholder="Topic of Interest"><br>
	<input type="text" name="location" placeholder="Geographic Location">
	<br>
	<input type="submit" value="Search">
</form>


<h1>Times search result:</h1>
<ul id="nytimes-results"></ul>

<div id="user-click"></div>

<div id="my-search" class="results">
	<h1>My Twitter Search result: </h1>
	<ul id="my-twitter-search-result"></ul>

	<h1>My Guidestar search result:</h1>
	<ul id="my-guidestar-results"></ul>
</div>

<div id="topic-search" class="results">
	<h1>Topic Twitter Search result: </h1>
	<ul id="topic-twitter-search-result">
	</ul>

	<h1>Topic Guidestar search result:</h1>
	<ul id="topic-guidestar-results"></ul>
</div>


<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
