<p id="notice"><%= notice %></p>

<p>Name: <%= @user.name %></p>
<p>Region: <%= @user.region %></p>
<p>Email: <%= @user.email %></p>

<form id="user-search" action="/user_choice" method="POST">
	<label>Enter Your Own Topic to Search For</label>
	<br>
	<input type="text" name="topic" placeholder="Topic of Interest"><br>
	<input type="text" name="location" placeholder="Geographic Location">
	<br>
	<input type="submit" value="Search">
</form>


<h1>Times search results:</h1>
<ul id="nytimes-results"></ul>

<form id="user-click" action="/user_click" method="POST"></form>

<h1>Twitter Search result 1: </h1>
<ul id="twitter-search-result-1">
</ul>

<h1>Twitter Search result 2: </h1>
<ul id="twitter-search-result-2">
</ul>

<h1>Twitter Search result 3: </h1>
<ul id="twitter-search-result-3">
</ul>

<h1>My Twitter Search result 4: </h1>
<ul id="twitter-search-result-4">
</ul>

<h1>My Twitter Search result 5: </h1>
<ul id="twitter-search-result-5">
</ul>

<h1>Guidestar search result 1:</h1>
<ul id="first-guidestar-results"></ul>

<h1>Guidestar search result 2:</h1>
<ul id="second-guidestar-results"></ul>

<h1>Guidestar search result 3:</h1>
<ul id="third-guidestar-results"></ul>

<h1>My Guidestar search result 4:</h1>
<ul id="fourth-guidestar-results"></ul>

<h1>My Guidestar search result 5:</h1>
<ul id="fifth-guidestar-results"></ul>

<% if @user.oauth_token %>
  <%= render 'shared/tweets' %>
<% end %>


<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
