<!DOCTYPE html>
<html>
<head>
  <title>FlinderApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= current_user ? current_user.name : (link_to 'Log In', login_path) %>
<%= link_to 'Log Out', logout_path if current_user %>
<%= yield %>

</body>
</html>
